html,body {
    min-height: 100vh;
    background-image: url("home.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height:100 vh;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: black;
    color:white;
    text-align: center;
    font-family:'Roboto Mono', monospace;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: auto;
}
#logo {
    width:40vw;
    height:auto;
}

.header {
    text-align: center;
}
#tagline {
    color:linen;
    font-family:'Roboto Mono', monospace;
    text-shadow: 2px 2px black;
    font-size: 20px;
}

.signup {
    margin-left: auto;
    margin-right: auto;
    height:60vh;
    box-sizing: border-box;
    background-color: rgba(255, 160, 122, 0.678);
    border: 2px solid green;
    padding:0px;
    font-family:'Roboto Mono', monospace;
    font-size: 50px;
    color:white;
    width: 60%;
    padding-top:0px;
    margin-bottom:5%;
}

.form-row {
    color:linen;
    font-family:'Roboto Mono', monospace;
    text-shadow: 2px 2px black;
    font-size: 40%;
    text-align: center;
    margin: 10%;
    padding:2px;
    height: 100%;
}

.btn-warning {
    font-family:'Roboto Mono', monospace;
    margin-top: 3%;
}
.btn-warning:hover {
    background-color:rgb(250, 97, 148);
    color:white;
}

a, a:focus, a:active { 
    color:white;
    text-decoration:none;
}

a:hover { 
    font-style: italic;
    color: black;
    text-shadow: 0.5px 0.5px white;
    text-decoration:none;
}
.nav-link {
    font-family:'Roboto Mono', monospace;
    color: black;
    text-shadow: 0.5px 0.5px white;
}

navbar-brand {
    font-family:'Roboto Mono', monospace;
    color: black;
    text-shadow: 0.5px 0.5px white;
}

.container-fluid {
    margin-top:12%;
    box-sizing: border-box;
}
@media (max-width: 991px) {
    #logo {
        margin-top: 20%;
    }
}


/* phones */
@media (max-width: 767px) {
    #logo {
        margin-top: 30%;
    }
}

@media (max-width: 1199px) {
    #logo {
        margin-top: 20%;
    }
}